<h1>Questions List</h1>
<%= button_to "Back", root_url, id:"homepage_link", :class => "btn btn-dark", method: :get %>
<table class="table table-sm">
    <thead>
   
        <td>Question Name</td>
        <td>Corresponding Quiz</td> 
        <td>Quiz Category</td>
    </thead>
    <tbody>
    
        <% @questions.each_with_index do |question, index| %>
            <tr>
                <td><%= link_to "#{question.question}", question_path(question.id), class:'question_name' %></td>
                <td class='quiz_name'><a href="<%= quiz_path(@results[index]["id"]) %>"><%= @results[index]["name"] %></a></td>
                <td class='quiz_category'><%= @results[index]["category"] %></td>
            </tr>
        <% end %> 
    
   
    </tbody>
</table>
