<h3>You are currently adding questions to quiz:"<%= @quiz.name %>"</h3>
<ul>  
<li>Name: <%= @quiz.name %></li>
<li>Category: <%= @quiz.category %></li>
<li>Description: <%= @quiz.description %></li>
</ul>
<%= render partial: "questions/html/new_form" %>
<script>
  <%= render partial: "questions/js/questionSet.js.erb" %>
  <%= render partial: "questions/js/new.js.erb" %>
</script>


