<h3>You are currently adding questions to quiz:"<%= @quiz.name %>"</h3>
<ul>  
<li>Name: <%= @quiz.name %></li>
<li>Category: <%= @quiz.category %></li>
<li>Description: <%= @quiz.description %></li>
</ul>
<div class="main_container container">
  <div class="row">
    <div class="add_question_section col-md-6" value="1">
      <div id="question_errors">
      </div>
      <h3 id="add_questions_message">Now Editing Question #1 </h3>
    
      <%= label_tag(:question, "New Question:") %>
      <%= text_field_tag :question, "", :onkeyup => "updateQuestionArrText(this)" %>
      <br />
      <%= label_tag(:answer1, "Answer Choice #1:") %>
      <%= text_field_tag :answer1, "", :onkeyup => "updateQuestionArrText(this)" %>
      <br />
      <%= label_tag(:answer2, "Answer Choice #2:") %>
      <%= text_field_tag :answer2, "", :onkeyup => "updateQuestionArrText(this)" %>
      <br />
      <%= label_tag(:answer3, "Answer Choice #3:") %>
      <%= text_field_tag :answer3, "", :onkeyup => "updateQuestionArrText(this)" %>
      <br />
      <%= label_tag(:answer4, "Answer Choice #4:") %>
      <%= text_field_tag :answer4, "", :onkeyup => "updateQuestionArrText(this)" %>
      <br />
      <%= label_tag(:correct_answer, "Choose The Correct Answer: ") %>
      <label>
        <input type="checkbox" class="radio" value="1"  />Answer #1</label>
      <label>
        <input type="checkbox" class="radio" value="2"  />Answer #2</label>
      <label>
        <input type="checkbox" class="radio" value="3"  />Answer #3</label>
      <label>
        <input type="checkbox" class="radio" value="4"  />Answer #4</label>
      <br />
    </div>
    <div class="col-md-6">
      <button onclick="addQuestion()" id="add_question_link" class="btn btn-secondary">Add Another Question</button>
      <button onclick="saveAndSubmit()" id="submit_link" class="btn btn-primary">Save And Exit</button>
      <div class="gallery_container">

      </div>
    </div>
  </div>
 

 
</div>
<script>
class QuestionSet{
  constructor(question, answer1, answer2, answer3, answer4, correct_answer){
    this.question = question;
    this.answer1 = {
      answer: answer1,
      correct_answer: "0"
    };
    this.answer2 = {
      answer: answer2,
      correct_answer: "0"
    };
    this.answer3 = {
      answer: answer3,
      correct_answer: "0"
    };
    this.answer4 = {
      answer: answer4,
      correct_answer: "0"
    };  
    this.errors = "";
  }

  doValidations(){
    if(this.question == "")this.errors+=`<p class='error'>Question field cannot be empty</p>`;
    if(this.answer1.answer == "")this.errors+= "<p class='error'>Answer 1 field cannot be empty</p>";
    if(this.answer2.answer == "")this.errors+= "<p class='error'>Answer 2 field cannot be empty</p>";
    if(this.answer3.answer == "")this.errors+= "<p class='error'>Answer 3 field cannot be empty</p>";
    if(this.answer4.answer == "")this.errors+= "<p class='error'>Answer 4 field cannot be empty</p>";
    for(var i = 1; i <= 4; i++){

    }
    return (this.errors == "") ? true : false;
  }

  updateFields(field){
    this[`${field}`] = $(`#${field}`).val(); 
  }

  setCorrectAnswer(choice){
    for(var i = 1; i <= 4; i++){
      if(i == choice){
        this[`answer${i}`].correct_answer = "1";
      }else{
        this[`answer${i}`].correct_answer = "0";
      }
    }
  }

  revertDefaultChoice(){
    for(var i = 1; i <= 4; i++){
      this[`answer${i}`].correct_answer = "0";
    }
  }

  get getErrors() {
    return this.errors;
  }
  
  set setErrors(error){
    this.errors += error;
  }
}

var questionArr = [];
var currentQuestion = 0;
$("input[type='checkbox']").attr("correct_answer", "0");
$("input[type='checkbox']").on("click", function(){
  $("input[type='checkbox']").not(this).prop("checked", false);
  if($(this).prop("checked")){
    $(this).attr("correct_answer", "1");
    updateQuestionArrCheckbox(this.value, true);
    console.log(questionArr[currentQuestion-1]);
  }else{
    updateQuestionArrCheckbox(this.value, false);
    $(this).attr("correct_answer", "0");
    console.log(questionArr[currentQuestion-1]);

  }
  
});

(function(){
  setupQuestionArr();
  setCurrentQuestion();
}())


function updateQuestionArrCheckbox(value ,checked){
    for(var i = 1; i <= 4; i++){
      if(i == value && checked){
        questionArr[currentQuestion-1].setCorrectAnswer(i);
      }
    }
    if(!checked) questionArr[currentQuestion-1].revertDefaultChoice();
}

function updateQuestionArrText(value){
  questionArr[currentQuestion-1].updateFields(value.id);
  console.log(questionArr[currentQuestion-1]);
}

function setupQuestionArr(){
  var newQuestion = new QuestionSet("", "", "", "", "", "0");
  questionArr.push(newQuestion);
}

function setCurrentQuestion(){
  currentQuestion = 1;
  $(".gallery_container").append(`<div style='cursor: pointer;' onclick='toggleQuestions(this)' value=${currentQuestion}><h1>Question ${currentQuestion}</h1></div>`);
}

function toggleQuestions(question){
  console.log(question);
}

function addQuestion(){
  if(questionArr[currentQuestion-1].doValidations()){
    addToQuestionArr();
    currentQuestion++;
    $(".gallery_container").append(`<div style='cursor: pointer;' onclick='toggleQuestions(this)' value=${currentQuestion}><h1>Question ${currentQuestion}</h1></div>`);
  }else{
    console.log(questionArr[currentQuestion - 1]);
    $("#question_errors").html(questionArr[currentQuestion-1].getErrors);
  }
}

function addToQuestionArr(){
  var newQuestion = new QuestionSet($("#question").text(), $("#answer1").text(), $("#answer2").text(), $("#answer3").text(), $("#answer4").text(), $("input[type='checkbox']").val())
  questionArr.push(newQuestion)
}

function eraseTextFields(){
  $("#question").val("");
  $("#answer1").val("");
  $("#answer2").val("");
  $("#answer3").val("");
  $("#answer4").val("");
  $("input[type='checkbox']").prop("checked", false);
}
</script>


