<h3>You are currently adding questions to quiz:"<%= @quiz.name %>"</h3>
<ul>  
<li>Name: <%= @quiz.name %></li>
<li>Category: <%= @quiz.category %></li>
<li>Description: <%= @quiz.description %></li>
<li>Total Questions: <%= @quiz.total_questions %></li>
</ul>
<div class="main_container container">
  <div class="row">
    <div class="add_question_section col-md-6" value="1">
      <div id="question_errors">
      </div>
      <h3 id="add_questions_message">Now Editing Question #1 </h3>
    
      <%= label_tag(:question, "New Question:") %>
      <%= text_field_tag :question, "", :onkeyup => "updateQuestionArr(this)" %>
      <br />
      <%= label_tag(:answer1, "Answer Choice #1:") %>
      <%= text_field_tag :answer1, "", :onkeyup => "updateQuestionArr(this)" %>
      <br />
      <%= label_tag(:answer2, "Answer Choice #2:") %>
      <%= text_field_tag :answer2, "", :onkeyup => "updateQuestionArr(this)" %>
      <br />
      <%= label_tag(:answer3, "Answer Choice #3:") %>
      <%= text_field_tag :answer3, "", :onkeyup => "updateQuestionArr(this)" %>
      <br />
      <%= label_tag(:answer4, "Answer Choice #4:") %>
      <%= text_field_tag :answer4, "", :onkeyup => "updateQuestionArr(this)" %>
      <br />
      <%= label_tag(:correct_answer, "Choose The Correct Answer: ") %>
      <input type="checkbox" class="radio" value="1" id="correctAnswer" name="answer1" onclick="updateQuestionArr(this)" />Answer #1</label>
      <label>
        <input type="checkbox" class="radio" value="2" id="correctAnswer" name="answer2" onclick="updateQuestionArr(this)" />Answer #2</label>
      <label>
        <input type="checkbox" class="radio" value="3" id="correctAnswer" name="answer3" onclick="updateQuestionArr(this)" />Answer #3</label>
      <label>
        <input type="checkbox" class="radio" value="4" id="correctAnswer" name="answer4" onclick="updateQuestionArr(this)" />Answer #4</label>
      <br />
    </div>
    <div class="col-md-6">
      <button onclick="addAnotherQuestion()" id="add_question_link" class="btn btn-secondary">Add Another Question</button>
      <button onclick="saveAndSubmit()" id="submit_link" class="btn btn-primary">Save And Exit</button>
      <div class="gallery_container">

      </div>
    </div>
  </div>
 

 
</div>
<script>

var questionArr = [];
$('input[type="checkbox"]').on('change', function() {
   $('input[type="checkbox"]').not(this).prop('checked', false);
});

function addAnotherQuestion(){
  //do validations 
  var errors = "";
  if(!$("#question").val()){
    errors += "<p class='error'>Question field cannot be empty<br/></p>";
  }
  if(!$("#answer1").val()){
    errors += "<p class='error'>Answer field 1 cannot be empty<br/></p>";
  }
  if(!$("#answer2").val()){
    errors += "<p class='error'>Answer field 2 cannot be empty<br/></p>";
  } 
  if(!$("#answer3").val()){
    errors += "<p class='error'>Answer field 3 cannot be empty<br/></p>";
  }
  if(!$("#answer4").val()){
    errors += "<p class='error'>Answer field 4 cannot be empty<br/></p>";
  }
  if(!$("input[type='checkbox']:checked").length){
    errors += "<p class='error'>Correct Answer field cannot be unchecked<br/></p>"
  }
  if(errors.length === 0){
    $(".add_question_section").attr("value", questionArr.length + 1);
    $(".add_question_section").find("h3#add_questions_message").text(`Now Editing Question #${questionArr.length + 1}`);
    emptyTextField();
  }else{
    $("#question_errors").html(errors);
  }
}

function updateGalleryView(){
  $(".gallery_container").append(`
  <div id='${questionArr.length}' class='question_thumbnail' style='cursor: pointer;' onclick='toggleThumbnail(this)' >
    <h2>Question ${questionArr.length}</h2>
  </div>
  `);
}

function updateQuestionArr(e){
  if ($(".add_question_section").attr("value") > questionArr.length){
    var newQuestion = {
      question: $("#question").val(),
      answer1: $("#answer1").val(),
      answer2: $("#answer2").val(),
      answer3: $("#answer3").val(),
      answer4: $("#answer4").val(),
    }
    questionArr.push(newQuestion);
    updateGalleryView();
  }else{
    questionArr[$(".add_question_section").attr("value")  - 1][`${e.id}`] = $(e).val();
  }
}


function toggleThumbnail(e){
  emptyTextField()
  $("h3#add_questions_message").text(`Now Editing Question #${e.id}`);
  $("#question").val(questionArr[e.id - 1].question);
  $("#answer1").val(questionArr[e.id - 1].answer1);
  $("#answer2").val(questionArr[e.id - 1].answer2);
  $("#answer3").val(questionArr[e.id - 1].answer3);
  $("#answer4").val(questionArr[e.id - 1].answer4);
  $(`:checkbox[value=${questionArr[e.id - 1].correctAnswer}]`).prop("checked","true");
  $(".add_question_section").attr("value", e.id);
}

function emptyTextField(){
  $("#question_errors").html("");
  $('input[type="checkbox"]').prop('checked', false);
  $("#question").val("");
  $("#answer1").val("");
  $("#answer2").val("");
  $("#answer3").val("");
  $("#answer4").val("");
}

function saveAndSubmit(){
  $.ajax({
    url: "/questions",
    method: "POST",
    dataType: "json",
    data: {questionArr},
    success: function(data){
      window.location.href = data.redirect;
      console.log(data);
    }

  })
}
</script>


