<div>
<h3 id="question_name">Question: <%= @question[0]["question"] %></h3>
<h3 id="quiz_name">Belongs to Quiz Name: <%= @question[0]["name"] %></h3>
<% @answers.each_with_index do |answer, index| %>
    <%= content_tag(:h3, "Answer #{index + 1}:  #{answer["answer"]}", :id => "answer#{index+1}", :value => "answer#{index+1}") %>
<% end %>
<% @answers.each_with_index do |answer, index| %>
    <% if answer["correct_answer"] == 1 %>
        <%= content_tag(:h3, "Correct Answer: #{answer["answer"]}", :id => "correct_answer") %>
    <% end %>
<% end %>
<% if @question[0]["contains_images"] === 1 %>
    <h3>Question Type: Image Question</h3>
    <img src="<%= @question_image.image_url %>" alt="About Question" />
<% elsif @question[0]["contains_images"] === 0 %>
    <h3>Question Type: Text Question</h3>
<% end %>
</div>
<div class="btn_container">
    <%= button_to "Edit This Question", edit_question_path(@question[0]["id"]), id: "edit_question_link", :class => "btn btn-primary", method: :get, :question_id => @question[0]["id"] %>
    <button class="btn btn-danger" onclick="showModal()" id="delete_question_link" >Delete Question</button>
    <%= button_to "Back", questions_path, :class => "btn btn-dark back", method: :get  %>
</div>
<%= render partial: "questions/html/delete_question_modal" %> 
<script>
    <%= render "questions/js/delete_question.js.erb" %>
</script>