<%= form_with url:"/quizzes", model: @quiz do |form| %>
    <h3>Fill In These Details: </h3>
    <div id="user_errors">
    </div>
    <br />
    <%= form.label(:name, "New Quiz Name:") %>
    <%= form.text_field :name %>
    <br />
    <%= form.label(:category, "New Quiz Category:") %>
    <%= form.text_field :category %>
    <br />
    <%= form.label(:description, "New Quiz Description:") %>
    <%= form.text_field :description %>
    <br />
    <div class="hide">
        <%= form.label(:total_questions, "Total Number of Questions New Quiz Will Contain:") %>
        <%= form.text_field :total_questions, value: "0" %>
    </div>
    <br />
    <%= form.submit "Save and Submit", :type => "submit", :id => "submit_new_quiz_link" %>  
<% end %>

<% if false %>
, :value => “0” 

<% end %>