<!DOCTYPE html>
<html>
  <head>
    <title>QuizGame</title>
  </head>

  <body>
      <%= render_welcome_message %>
      <% if flash[:notice] %>
        <h3><%= flash[:notice] %></h3>
      <% end %>
        <ul>
            <%= render_login_link %>
            <%= render_register_link %> 
            <li><%= link_to "Quizzes", quizzes_path, id: "quizzes_link" %></li>
            <% if session[:user_id] %>
              <li><%= link_to "User Profile", user_path(@user.id), id: "user_profile_link" %></li>
              <li><%= link_to "Questions", questions_path, id: "questions_link" %></li>
            <% end %>
            <%= render_logout_link %>
        </ul>
  </body>
</html>








