<!DOCTYPE html>
<html>
  <head>
    <title>QuizGame</title>
  </head>
 
  <body>
      <%= render_welcome_message %>
      <% if flash[:notice] %>
        <h3><%= flash[:notice] %></h3>
      <% end %>
        <ul class="action_panel">
        <% if false %>
            <%= render_login_link %>
            <%= render_register_link %> 
        <% end %>
        </ul>
        <strong>Select A Quiz And Test Your Knowledge! To Add More Quizzes Please Login Or Register.</strong>
        <h3 id="category_heading">Quiz Categories</h3>
        <% @quiz_categories.each do |quiz_category| %>
            <h5><%= quiz_category["LTRIM(RTRIM(quizzes.category))"].strip %></h5>
            <% @quizzes.each do |quiz| %>
                <% if quiz_category["LTRIM(RTRIM(quizzes.category))"].strip == quiz.category.strip %>
                    <%= link_to quiz.name, quiz_path(quiz.id), :class => "quiz_link", :id => "quiz#{quiz.id}" %>
                    <br/>
                <% end %>
            <% end %>
        <% end %>
        <% if session[:user_id] %>
          <%= render_new_quiz_link %>
        <% end %>

  </body>
</html>

