


<h3>Title: </h3><strong><%= @quiz.name %></strong>
<h3>Category: </h3><strong><%= @quiz.category %></strong>
<h3>Description: </h3><strong><%= @quiz.description %></strong>
<h3>Total Number Of Questions: </h3><strong><%= @quiz.description %></strong>
<%= link_to "Take this Quiz!", quiz_path(@quiz.id), :remote => true, :id => "take_quiz_link" %>

<%= render_answer_links %>