

<div id="quiz_info_section">
<h1>Quiz Info</h1>
<% if flash[:success] %>
    <div class="alert alert-primary" role="alert">
        <h3><%= flash[:success] %></h3>
    </div>
<% end %>


<h3><i class="heading_text">Title:</i> <%= @quiz.name %></h3>
<h3><i class="heading_text">Category:</i> <%= @quiz.category %></h3>
<h3><i class="heading_text">Description:</i> <%= @quiz.description %></h3>
<% if @quiz.contains_images === 1 %>
    <h3><i class="heading_text">Quiz Type:</i> Image Quiz</h3>
<% elsif @quiz.contains_images === 0 %>
    <h3><i class="heading_text">Quiz Type:</i> Text Quiz</h3>
<% end %>
<% if session[:user_id] %>
    <h3 id="highscore_message"><i class="heading_text">Your Best Score For This Quiz:</i> <strong><%= @highScore %></strong></h3>
<% end %>
<% if !@takeQuiz %>
    <p class="form-text disable_take_quiz error heading_text" >* You Must Add Some Questions To Take This Quiz</p>
<% end %>
    <div class="btn_container" id="quiz_btn_container">
    <% if session[:user_id] %>
        <%= link_to "Add Questions<i class='material-icons left'>add</i>".html_safe, new_question_path, :id => "add_questions_link", :class => "btn waves-effect waves-light" %>
        <%= link_to "Edit This Quiz<i class='material-icons left'>edit</i>".html_safe, edit_quiz_path(@quiz.id), :id => "edit_quiz_link", :class => "btn waves-effect waves-light" %>
        <button class="btn btn-danger" id="delete_quiz_link" onclick="showDeleteModal()" >Delete This Quiz<i class="material-icons left">delete</i></button>
    <% end %>
    <% if !@takeQuiz %>
        <%= link_to "Take this Quiz<i class='material-icons left'>play_arrow</i>".html_safe, quiz_path(@quiz.id), :remote => true, :class => "btn waves-effect waves-light", :id => "take_quiz_link", :disabled => true %>
    <% else %>
        <%= link_to "Take this Quiz<i class='material-icons left'>play_arrow</i>".html_safe, quiz_path(@quiz.id), :remote => true, :class => "btn waves-effect waves-light", :id => "take_quiz_link"  %>
    <% end %>
    <%= button_to "Back", root_url, :id => "back_link", :class => "btn btn-dark", method: :get %>
    </div>
</div>
<%= render_answer_links %>
<%= render_end_game_message %>
<%= render partial: "quizzes/html/delete_quiz_modal" %>
<script>
    <%= render partial: "quizzes/js/delete_quiz.js.erb" %>
</script>