

<div id="quiz_info_section">
<h3>Title: </h3><strong><%= @quiz.name %></strong>
<h3>Category: </h3><strong><%= @quiz.category %></strong>
<h3>Description: </h3><strong><%= @quiz.description %></strong>
<h3>Total Number Of Questions: </h3><strong><%= @quiz.total_questions %></strong>
<br />
<%= link_to "Take this Quiz!", quiz_path(@quiz.id), :remote => true, :id => "take_quiz_link" %>
</div>

<%= render_answer_links %>
<%= render_end_game_message %>