<h1>Welcome to Quiz Game</h1>
<%= form_tag "/quizGame" do %>
    <h2>Hello <%= session[:username] %></h2>
    <% if false %>
    <%= select_tag(:quiz_select, options_for_select([["Sample Quiz 1",1],["Sample Quiz 2",2],["Sample Quiz 3",3]]), include_blank: "Pick a Quiz") %>
    <% end %>
    <%= select_tag("quiz_select", options_from_collection_for_select(@quizzes.collect, 'id', 'name', params[:quiz_select])) %>
    <%= button_tag "Start Quiz", :type => :submit, :id => :startQuizButton %>
<% end %>