<h3>Login Form</h3>
<%= form_with url: "/sessions" do |form| %>
    <div id="session_errors"></div>
    <%= form.label :username, "Username: " %>
    <%= form.text_field :username, :id => "login_username" %>
    <br />
    <%= form.label :password, "Password: " %>
    <%= form.password_field :password, :id => "login_password" %>
    <br />
    <%= form.submit( "Login", class: "btn btn-primary", :id => "content_login_link") %>
<% end %>
<%= button_to "Back", root_url, :id => "back_link", :class => "btn btn-dark", :type => "button", method: :get %>
