
<%= form_with url: "/sessions" do |form| %>
    <div id="session_errors"></div>
    <%= form.label :username, "Username: " %>
    <%= form.text_field :username %>
    <br />
    <%= form.label :password, "Password: " %>
    <%= form.password_field :password %>
    <br />
    <%= form.submit %>

<% end %>