<h1>This is the stage for the Quiz Game</h1>

<%= form_tag "/levelUp" do %>

<%= button_tag "Choice #1", :id => :choice1, :type => :submit %>
<%= button_tag "Choice #2", :id => :choice2, :type => :submit %>
<%= button_tag "Choice #3", :id => :choice3, :type => :submit %>
<%= button_tag "Choice #4", :id => :choice4, :type => :submit %>

<% end %>