<%= form_with( method: "post", id: "login_form" ) do %>
    <div id="alert_messages"> 
    </div>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    
    <%= label_tag(:password, "Password:") %>
    <%= text_field_tag(:password) %>
    
    <%= submit_tag "Login", data: { "disable-with": "Loading..." } %>
    
<% end %>