<h3>Fill In These Details: </h3>
<%= form_with(url:"/quizzes", model: @quiz, :class => "form-group") do |form| %>
    <div id="quiz_errors">
    </div>
    <br />
    <div class="form-group">
    <%= form.label(:name, "Quiz Name:") %>
    <%= form.text_field :name, :class => "form-control", :placeholder => "Enter Quiz Name", :onkeyup => "checkQuizName()", :required => true %>
    </div>
    <div class="form-group">
    <%= form.label(:category, "Quiz Category:") %>
    <%= form.text_field :category, :class => "form-control", :placeholder => "Enter Quiz Category", :required => true %>
    </div>
    <div class="form-group">
    <%= form.label(:description, "Quiz Description:") %>
    <%= form.text_field :description, :class => "form-control", :placeholder => "Enter Quiz Description", :required => true %>
    </div>
    <div class="form-group">
    <%= form.label(:contains_images, "Does This Quiz Uses Images In Its Questions?") %>
    <%= form.select :"contains_images", raw("<option value='1'>Yes</option><option value='0'>No</option>"), :class => "form-control" %>
    </div>
    <div class="btn_container">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
    <% if false %><%= form.submit "Save and Submit", :type => "submit", :id => "submit_new_quiz_link", :class => "btn waves-effect waves-light" %><% end %>
    <%= link_to "Back", root_url, :id => "back_link", :class => "btn btn-dark" %>
    </div>
<% end %>