<h3>Fill In These Details: </h3>
<%= form_with url:"/quizzes", model: @quiz do |form| %>
    <div id="user_errors">
    </div>
    <br />
    <%= form.label(:name, "New Quiz Name:") %>
    <%= form.text_field :name %>
    <br />
    <%= form.label(:category, "New Quiz Category:") %>
    <%= form.text_field :category %>
    <br />
    <%= form.label(:description, "New Quiz Description:") %>
    <%= form.text_field :description %>
    <br />
    <%= form.label(:contains_images, "Will This Quiz Need Images?") %>
    <%= form.select "contains_images", raw("<option value='1'>Yes</option><option value='0'>No</option>") %>
    <br />
    <%= form.submit "Save and Submit", :type => "submit", :id => "submit_new_quiz_link", :class => "btn btn-primary" %>
<% end %>
<%= button_to "Back", root_url, :id => "back_link", :class => "btn btn-dark", :type => "button", method: :get %>
