<h3 id="edit_quiz_title">Edit User: <%= @user.username %></h3>


<%= render partial: "form_fields" %>
<script>
<%= render partial: "/users/form_fields.js.erb" %>
<%= render partial: "/users/js/username.js.erb" %>
<%= render partial: "/users/js/password.js.erb" %>
<%= render partial: "/users/js/email.js.erb" %>
<%= render partial: "/users/js/fullName.js.erb" %>
</script>


