<div id="user_info_section">
    <h1>Your Profile Information</h1>
    <h3 id="username">Username: <%= @user.username %></h3>
    <h3 id="email">Email: <%= @user.email %></h3>
    <h3 id="fullName">Full Name: <%= @user.fullName %></h3>
    <h3 id="bio">Bio: <%= @user.bio %></h3>
</div>
<%= button_to "Edit Profile", edit_user_path(@user.id), :id => "edit_user_link", :class => "btn btn-primary", method: :get %>
<%= button_to "Back", root_url, :id => "back_link", :class => "btn btn-dark", method: :get %>
