<div id="user_info_section">
    <h1>Your Profile Information</h1>
    <h3 id="username"><i class="heading_text">Username:</i> <%= @user.username %></h3>
    <h3 id="email"><i class="heading_text">Email:</i> <%= @user.email %></h3>
    <h3 id="fullName"><i class="heading_text">Full Name:</i> <%= @user.fullName %></h3>
    <h3 id="bio"><i class="heading_text">Bio:</i> <%= @user.bio %></h3>
</div>
<div class="btn_container">
<%= button_to "Edit Profile<i class='material-icons right'>edit</i>".html_safe, edit_user_path(@user.id), :id => "edit_user_link", :class => "btn", method: :get %>
<button id="delete_account_link" class="btn btn-danger" type="button" onclick="showDeleteModal()">Delete This Account</button>
<%= button_to "Back", root_url, :id => "back_link", :class => "btn btn-dark", method: :get %>
</div>
<%= render "users/html/delete_user_modal" %>
<script>
    <%= render partial: "users/js/delete_user.js.erb" %>
</script>