<h1>Quiz Details</h1>
 
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Quiz Id</th>
    </tr>
  </thead>
 
  <tbody>
  
    <tr>
        <td><%= @quiz.question %></td>
        <td><%= @quiz.answer %></td>
        <td><%= @quiz.id %></td>
    </tr>
  
  </tbody>
</table>
<h2>Answer Choices</h2>
<table>
  <thead>

  </thead>
  <tbody>
    <tr>
      <td><%= @quiz.first_choice %></td>
      <td><%= @quiz.second_choice %></td>
      <td><%= @quiz.third_choice %></td>
      <td><%= @quiz.fourth_choice %></td>
    </tr>
  </tbody>
</table>
 