<%= form_with :remote => true, :question_id => @question.id, url: question_path(@question.id), method: :put, :html => { :multipart => true }, :format => "js", :id => "question_edit_form" do |form| %>
    <div id="question_edit_errors"></div>
    <div class="form-group">
        <%= form.label :question, "Question: "  %>
        <%= form.text_field :question, :class => "form-control", :required => true %>
    </div>
    <% for i in 0...4 do %>
        <div class="form-group">
            <%= form.label :"answer#{i+1}", "Answer Choice ##{i+1}: " %>
            <%= form.text_field :"answer#{i+1}", :class => "form-control", :required => true %>
        </div>
    <% end %>
    <%= label_tag(:correct_answer, "Correct Answer: ") %>
    <div class="form-check form-check-inline">
    <% for i in 0...4 do %>
            <p>
            <%= form.label :"#{@answers[i]["id"]}" do %>
                <%= form.check_box "Answer Choise##{i+1}", :id => "#{@answers[i]["id"]}", :name => "#{i+1}", :class => "form-check-input" %>
                <span>Choice #<%= i+1 %></span>
            <% end %>
            </p>
    <% end %>
    </div>
    <% if @quiz.contains_images === 1 %>
        <h3>Change Question Image</h3>
        <div class="form-group">
            <img src="<%= @image.image_url %>" alt="About Question" />
            <caption class='img-caption'>Current Question Image</caption>
        </div>
        <div class="form-group">
            <%= label_tag(:question_image, "Select New Image: ") %>
            <%= form.file_field :question_image, :class => "form-control" %>
        </div>
    <% end %>
    <%= form.hidden_field :"answers", :value => "#{@answers.to_json}" %>
    <div class="hidden" id="question_json" ><%= @question.to_json %></div>
    <div class="btn_container">
        <button id="update_question_link" class="btn waves-effect waves-light" name="commit" value="Update Question" >Update Question<i class="material-icons left">update</i></button>
        <%= link_to "Back<i class='material-icons left'>arrow_back</i>".html_safe, question_path(@question.id), :class => "back_link btn waves-light waves-effect" %>
        </div>
    <% end %>