
<div class="main_container container">
<div class="row">
  <div class="add_question_section col-md-6" value="1">
    <%= render partial: "questions/html/modal_form" %>
    
    <h3 id="add_questions_message">Now Editing Question #1 </h3>
  
    <%= label_tag(:question, "New Question:") %>
    <%= text_field_tag :question, "", :onkeyup => "updateQuestionArrText(this)" %>
    <br />
    <%= label_tag(:answer1, "Answer Choice #1:") %>
    <%= text_field_tag :answer1, "", :onkeyup => "updateQuestionArrText(this)" %>
    <br />
    <%= label_tag(:answer2, "Answer Choice #2:") %>
    <%= text_field_tag :answer2, "", :onkeyup => "updateQuestionArrText(this)" %>
    <br />
    <%= label_tag(:answer3, "Answer Choice #3:") %>
    <%= text_field_tag :answer3, "", :onkeyup => "updateQuestionArrText(this)" %>
    <br />
    <%= label_tag(:answer4, "Answer Choice #4:") %>
    <%= text_field_tag :answer4, "", :onkeyup => "updateQuestionArrText(this)" %>
    <br />
    <%= label_tag(:correct_answer, "Choose The Correct Answer: ") %>
    <label>
      <input type="checkbox" class="radio" value="1"  />Answer #1</label>
    <label>
      <input type="checkbox" class="radio" value="2"  />Answer #2</label>
    <label>
      <input type="checkbox" class="radio" value="3"  />Answer #3</label>
    <label>
      <input type="checkbox" class="radio" value="4"  />Answer #4</label>
    <br />
    <%= form_with(url: question_images_path, :id => "question_image_form") do |form| %>
      <%= label_tag :question_image %>
      <%= file_field_tag :question_image %>
    <% end %>
  </div>
  <div class="col-md-6">
    <button onclick="addQuestion()" id="add_question_link" class="btn btn-success">Add Another Question</button>
    <button onclick="saveAndSubmit()" id="submit_link" class="btn btn-primary">Save And Exit</button>
    <div class="gallery_container">

    </div>
  </div>
</div>



</div>