
<%= form_with( url: "create", method: "post", local: true) do %>
    <% if @userToRender.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% for message in @userToRender.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag :username %>
    
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag :email %>
    
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag :password %>
    
    <%= label_tag(:password_confirmation, "Confirm Password:") %>
    <%= password_field_tag :password_confirmation %>

    <%= label_tag(:fullName, "Full Name:") %>
    <%= text_field_tag :fullName %>

    <%= label_tag(:bio, "Bio:") %>
    <%= text_field_tag :bio %>

    <%= submit_tag "Register" %>
    
<% end %>