
<style>
/* Top Navbar Styles  */
.top_nav_link:hover{
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 8px;
}





/* Bottom Navbar Styles */

.btn{
  background-color: #000000;
}
.btn:hover{
  color: #000000;
  background-color: #FFFFFF;
}

.menu{
  position: absolute;
}
navbar-bottom {
  z-index: 1;
  position: absolute;
  width: 100%;
}

#password_reset_link{
  padding: 0px;
  font-size: 12px;
  position: relative;
  bottom: 25px;
  height: 12px;
  width: 120px;
}

#password_reset_link:hover{
  background-color: transparent;
}

.navbar-top{
    padding: 0px;
}
.nav_top_container{
    min-width: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: #BC4639;
}

.pull-left{
    display: inline;
}

.pull-left li{
    background-color: #BC4639;
}

.pull-right{
    display: inline;
    float: right;
}
.pull-right a {
    font-size: 20px;
}
.pull-right input[type='submit'] {
    font-size: 20px;
}

.pull-right .btn-success{
    margin-right: 0px;
}

.pull-right form {
    display: inline;
}

.pull-right .btn-primary{
    margin-left: 0px;
}

.navbar-top {
    background: #BC4639;
    color: #FFF;
}

h1 {
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-family: 'roboto', sans-serif;
}
#container {
  margin: 0 auto;
  max-width: 890px;
}
p { text-align: center; }
 .toggle, [id^=drop] {
 display: none;
}
nav {
  margin: 0;
  padding: 0;
  background-color: #E85A4F;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #E85A4F;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}




nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 300px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul li a {
    color: white;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' ↓'; }
li > a:only-child:after { content: ''; }

.dropdown-item {
    color: #ffffff;
}
/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #254441;
  padding: 0 20px;
  color: #FFF;
  font-size: 22px;
  font-weight:bold;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #212121; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { 
    position: static;
}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}
</style>
<nav class="navbar navbar-top">

<div class="nav_top_container">
    <!-- left nav top -->
    <ul class="nav navbar-nav pull-left">
        <li><a href="/" class="top_nav_link waves-effect waves-light btn" >Home<i class='material-icons left'>home</i></a></li>
        <% if session[:user_id] %>
        <% if false %><% end %>
            <li><%= link_to "Add New Quiz<i class='material-icons left'>add</i>".html_safe, new_quiz_url, :id => "new_quiz_link", :class => "top_nav_link waves-effect waves-light btn" %></li>
            <li><%= link_to "User Profile<i class='material-icons left'>person</i>".html_safe, user_path(session[:user_id]), id: "user_profile_link", :class => "top_nav_link waves-effect waves-light btn" %></li>
            <li><%= link_to "Questions<i class='material-icons left'>question_answer</i>".html_safe, questions_path, id: "questions_link", :class => "top_nav_link waves-effect waves-light btn" %></li>
            <li><input type="text" id="quiz_search_bar" onkeyup="searchQuizzes(this)" placeholder="&#128269;Search For Quizzes..." class="form-control" /><div id="search_results_section"></div></li>
        <% end %>
    </ul>
    <!-- right nav top -->
    <ul class="nav navbar-nav pull-right" style="padding:9px;">
        <% if !session[:user_id] %>
            <%= form_with(url: sessions_path) do |form| %>
                <%= form.text_field :username, :placeholder => "Username", :id => "navbar-username" %>
                <%= form.password_field :password, :placeholder => "Password", :id => "navbar-password" %>
                <%= form.submit "Login", :class => "btn btn-sm btn-success" %>
            <% end %>
            <a href="/users/new" class="btn btn-sm btn-primary" id="register_link" ><span class="glyphicon glyphicon-certificate"></span> Register</a>
            <%= link_to "Forgot Password?", new_password_reset_path, :id => "password_reset_link" %>
        <% else %>
            <%= link_to "Log Out<i class='material-icons right'>arrow_forward</i>".html_safe, sessions_path(1), method: :delete, id: "logout_link", :class => "waves-effect waves-light btn" %>
        <% end %>
    </ul>
</div>

</nav>
<nav class="navbar-bottom">
  <label for="drop" class="toggle">&#8801; Menu</label>
  <input type="checkbox" id="drop" />
  <ul class="menu">
    <%= navbar_quiz_links %>
  </ul>
</nav>
<script>
  $(window).click(function() {
      $("#search_results_section").html("")
  });

  $("#search_results_section").on("click", function(event){
      event.stopPropagation();
  });

  function searchQuizzes(e){
    if(e.value != ""){
      $.ajax({
        url: "<%= search_quizzes_quiz_url(1) %>",
        method: "GET",
        dataType: "json",
        data: {
          quiz_name: e.value
        },
        success: function(data){
          $("#search_results_section").html("");
          var result = "<ul class='search-history'>";
          for(var i = 0; i < data.result.length; i++){
            id = parseInt(data.result[i].id);
            result += `<li><span class='text'><a href='/quizzes/${id}' class='search_quiz_link'>${data.result[i].name}</a></span></li>`;
          }
       
          result += "</ul>";
          $("#search_results_section").html(result);
        }
      });
    }else{
      $("#search_results_section").html("");
    }
    
  }
</script>