<!DOCTYPE html>
<html>
  <head>

    <title>QuizGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <div id="content">
    <%= yield %>
    <div>
  </body>
</html>